<div class="container">
  <form id="contact" action="" method="post">
    <h3>Mantente en contacto</h3>
    <fieldset>
      <input placeholder="Nombre" type="text" tabindex="1" required autofocus />
    </fieldset>
    <fieldset>
      <input placeholder="Email" type="email" tabindex="2" required />
    </fieldset>
    <fieldset>
      <input placeholder="Telefono (opcional)" type="tel" tabindex="3" />
    </fieldset>
    <fieldset>
      <input placeholder="Sitio web (opcional)" type="url" tabindex="4" />
    </fieldset>
    <fieldset>
      <textarea
        placeholder="Escribe tu mensaje"
        tabindex="5"
        required
      ></textarea>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Enviando"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
