<nav class="nav">
  <input type="checkbox" class="nav__cb" id="menu-cb" />
  <div class="nav__content">
    <ul class="nav__items">
      <li class="nav__item">
        <span routerLink="home" class="nav__item-text"> Inicio </span>
      </li>
      <li class="nav__item">
        <span routerLink="about" class="nav__item-text">
          Sobre este proyecto
        </span>
      </li>
      <li class="nav__item">
        <span routerLink="cv" class="nav__item-text"> Curriculum </span>
      </li>
      <li class="nav__item">
        <span routerLink="contact" class="nav__item-text"> Contactame </span>
      </li>
      <li class="nav__item">
        <span routerLink="login" class="nav__item-text"> Login </span>
      </li>
    </ul>
  </div>
  <label class="nav__btn" for="menu-cb"></label>
</nav>
