<section>
  <h1>Sobre mi y este proyecto</h1>
  <p><q>Espero que esto no se convierta en un blog</q></p>
  <div>
    <p>
      Desde chiquito me interesó lo relacionado con la informatica, la primer
      computadora de la familia tenía Windows 3.1 que inciaba con DOS, teníamos
      que aprender a usar las lineas para inciar el entorno visual. Esto me
      ayudo para más adelante entender que estaba pasando detras del escritorio.
      En ese entorno jugaba con clasicos como "The Incredible Machine", un juego
      que nunca supe como se llamaba,venia instalado en un disquette de 5 1/4',
      de dos monos tirando bananas explosivas al estilo Worms, "Age of Empires",
      "Donde está Carmen SanDiego", entre otros.
    </p>
    <p>
      Más adelante cuando estaba en la secundaria, el mundo de las computadoras
      se me hizo más accesible. Concidió con el avance axplosivo de la industria
      de los videojuegos, al que no hice resistencia alguna. Emepcé a adentrarme
      en los juegos Pokémon, juegos de carreras (tipo Need for Speed), entre
      otros.
    </p>
    <p>
      Durante esta época empecé también a aprender una de mis mayores aficiones,
      la batería. Tuve varias bandas de garage con amigos simplemente por
      diversión, hasta que empecé la universidad y me alejé un poco de los 2
      mundos que me apasionaban hasta ese momento, la música y la informática.
    </p>
    <p>
      No para amargarme la vida, muy por el contrario, encontré otra cosa que no
      sabía que me iba a dar muchas alegrías. Emepcé a estudiar lo que me define
      desde ya hace algunos años: La ingeniería química. Como la mayoría de los
      estudiantes en Córdoba "me tomé mi tiempo para recibirme, para aprender
      bien los temas dados" (Pfff, a veces me gusta mentirme solo). Pude
      trabajar de lo que estudié, aunque al principio no lo entendí a la
      primera. Este recorrido me enseñó que la perseverancia es la mejor amiga
      que podés tener,
      <q>Seguí confiando en los NFT, algún día vas a ser rico</q>
    </p>
    <p>
      Mientras cursaba mi hermosa carrera, tuve la oportunidad de seguir
      conociendo la industria de los videojuegos hasta que encontré la
      <a href="https://es.wikipedia.org/wiki/Clave_(arquitectura)">clave</a>
      (según mis gustos) de los juegos del mundo mundial, el
      <a href="https://www.guildwars2.com/">Guild Wars 2</a>; podría pasar días
      explicando todo lo que podés hacer en ese maravilloso universo. Esta obra
      de arte, me enseñó que se puede llegar alto sin necesidad de ser el más
      competitivo, ni el más habilidoso, ni el más inteligente. Tal como en la
      vida real. La gente exitosa, llegó a ese punto en su vida porque nunca se
      dio por vencido, los extraordinarios son los menos; el resto la tenemos
      que remar, pero vamos a llegar estoy seguro.
    </p>
    <p>
      Todo este manuscrito para llegar al presente y explicar el por qué de este
      proyecto, donde volví a tomar las cartas en el asunto y me di el tiempo de
      aprender las herramientas del futuro: la Programación. Comencé con un
      lenguaje comodo y sencillo de entender como lo es Angular y JAVA. Después
      logré terminar un curso de PHP y base de datos.
    </p>
    <p>
      Ahora espero a ver que me depara el futuro, ya que ninguno de los
      capitulos está cerrado todavía.
    </p>
    <h5>
      Así que Ánimo!, persona random que llegó a este punto de la página. <br />
      Todo se puede lograr!
    </h5>
  </div>
</section>
