<div class="container">
  <form id="login" action="" method="post">
    <h3>Ingresar</h3>
    <fieldset>
      <input
        placeholder="Usuario"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </fieldset>
    <fieldset>
      <input placeholder="Contraseña" type="password" tabindex="2" required />
    </fieldset>
    <fieldset>
      <label class="checkbox">
        <input
          type="checkbox"
          value="remember-me"
          id="rememberMe"
          name="rememberMe"
        />
        Recordarme
      </label>
    </fieldset>

    <fieldset>
      <button
        name="submit"
        type="submit"
        id="login-submit"
        data-submit="...Sending"
      >
        Ingresar
      </button>
    </fieldset>
  </form>
</div>
