<div>
  <h1>Soy Luca Terzariol</h1>
  <h4>
    Ingeniero Químico <br />
    Full Stack Web developer
  </h4>
</div>

<div><h3>Que pueden esperar de mi</h3></div>
<section>
  <ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
    <li><a data-weight="1">PHP</a></li>
    <li><a data-weight="3">Autodesk Moldflow</a></li>
    <li><a data-weight="2">JAVA</a></li>
    <li><a data-weight="8">Ingeniería</a></li>
    <li><a data-weight="6">Problem solving</a></li>
    <li><a data-weight="4">Normas ISO</a></li>
    <li><a data-weight="8">Química</a></li>
    <li><a data-weight="6">Hablar en Público</a></li>
    <li><a data-weight="2">Base de datos</a></li>
    <li><a data-weight="9">Teamwork</a></li>
    <li><a data-weight="3">Aspen Plus</a></li>
    <li><a data-weight="2">Angular</a></li>
    <li><a data-weight="8">Office</a></li>
    <li><a data-weight="2">HTML5, CSS</a></li>
    <li><a data-weight="3">HACCP</a></li>
  </ul>
</section>
